body {
    background-color: lightgray;
}

#logoImg {
    width: 4rem;
    height: 4rem;
}

#navBar {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    background-color: #FBF7E3;
    border-radius: 60px;
    width: 80%;
    align-items: center;
}

body {
    background-color: lightgray;
}

#logoImg {
    width: 3rem;
}



#navBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 1.5em;
    color: #612406;
    background-color: #F3DF85;
    border-radius: 45px;
    height: 2em;
    margin: 5px;
}

#b3 {
    padding: 4em;
    font-size: 1.4em;
    font-weight: 600;
}